body{
   margin: 0; 
   font-family: 'Poppins', sans-serif;
}
.lady-section,.lady-section-col{
    display: flex;
    background-color: #212121;
    padding-bottom: 45px;
}
.lady-section-col{
    background-color: #262626;
}
.half-width{
    width: 50%;
    margin-top: 8%;
}
.lady-detials h1{
    color: white;
    font-size: 50px;
}
.lady-detials h4{
    color: white;
    font-size: 20px;
    position: relative;
    top: 38px;
    font-weight: 100;
}
.lady-detials h3{
    color: #0fb;
    position: relative;
    top: -32px;
}
.lady-detials{
    width: 30%;
    margin-right: 20%;
    margin-left: 6%;
}
.lady-detials p{
    position: relative;
    top: -41px;
    color: white;
}
.lady-detials a,.lady-detials-about a{
    position: relative;
    top: -41px;
    background-image: linear-gradient(salmon,tomato);
    box-shadow: -1px -2px 40px grey;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 50px;
    color: white;
}
.wia{
    width: 55px;
    height: 2px;
    background-color: #0fb;
    display: inline-block;
    position: relative;
    top: -3px;
}
.lady-detials-about h5{
    position: relative;
    top: 19px;
    font-size: 15px;
    color: #0fb;
    font-weight: 100;
}
.lady-img{
    width: 80%;
}
.lady-detials-about{
    width: 29%;
    margin-top: 4%;
}
.lady-detials-about h1,.lady-detials-about p{
    color: white;
}
.lady-detials-about a{
    position: relative;
    top: 41px;
}
.lady-section-col{
    padding-bottom: 160px;
}
.lady-service{
    background-color: #212121;
    padding-bottom: 250px;
    position: relative;
    top: -22px;
}
.service{
    position: relative;
    top: 110px;
}
.service-top{
    text-align: center;
}
.service-top h5{
    position: relative;
    top: 19px;
    color: #0fb;
    font-weight: 100;
}
.service-top h1{
    color: white;
}
.service-flex{
    display: flex;
    margin-left: 5%;
}
.service-detail{
    width: 25%;
    border-bottom: 8px solid red;
    box-shadow: 0 1.6rem 2.4rem rgb(0 0 0 / 25%);
    padding: 10px;
    margin-left: 3%;
    padding: 25px;
    color: white;
    border-radius: 10px 10px;

    /* uese the code */
    /* width: 25%;
    border-bottom: 15px solid red;
    box-shadow: inset 20px 13px 20px 0px grey;
    padding: 10px;
    margin-left: 2%;
    padding: 25px;
    border-radius: 50px 50px 45%;
    color: white; */
}
.rec,.dev,.dig{
    background-color: rgba(0,174,255,.2);
    padding: 10px;
    border-radius: 50px;
}
.dev{
    background-color: rgba(227,31,113,.2);
}
.dig{
    background-color: rgba(136,56,180,.2);
}
.sr-1{
    border-color: #00aeff;
}
.sr-2{
    border-color: #e31f71;
}
.sr-3{
    border-color: #8838b4;
}
footer{
    background-color: #262626;
    padding-bottom: 100px;
    text-align: center;
    margin-top: -38px;
}
footer p{
    position: relative;
    top: 62px;
    color: white;
}